.navbar__icon-1 {
  font-size: 16px;
  color: #2682d3;
}

.navbar__icon-2 {
  font-size: 16px;
  color: #ff660b;
}

.navbar__icon-3 {
  font-size: 16px;
  color: #0796f3;
}

.navbar__icon-4 {
  font-size: 16px;
  color: #1ba0e2;
}

.navbar__icon-5 {
  font-size: 16px;
  color: #1ba0e2;
}

.navbar__icon-6 {
  font-size: 16px;
  color: #b4b4b4;
}

.sub-navbar__icon-1 {
  font-size: 16px;
  color: #30c5f7;
}

.sub-navbar__icon-2 {
  font-size: 16px;
  color: #235d9f;
}

.sub-navbar__icon-3 {
  font-size: 16px;
  color: #931682;
}

.sub-navbar__icon-4 {
  font-size: 16px;
  color: #6dd3ce;
}

.sub-navbar__icon-5 {
  font-size: 16px;
  color: #ff6d70;
}

.sub-navbar__icon-6 {
  font-size: 16px;
  color: #087e8b;
}

.sub-navbar__icon-7 {
  font-size: 16px;
  color: #fca000;
}

.drawer__icon-1 {
  color: #0770cd;
}

.drawer__icon-2 {
  color: #0770cd;
}

.drawer__icon-3 {
  color: #0770cd;
}

.drawer__icon-4 {
  color: #0770cd;
}

.drawer__icon-5 {
  color: #0770cd;
}

.drawer__icon-6 {
  color: #30c5f7;
}

.drawer__icon-7 {
  color: #0770cd;
}

.drawer__icon-8 {
  color: #ff660b;
}

.drawer__icon-9 {
  color: #ff660b;
}

.drawer__icon-10 {
  color: #ff660b;
}

.drawer__icon-11 {
  color: #0796f3;
}

.drawer__icon-12 {
  color: #6dd3ce;
}

.drawer__icon-13 {
  color: #30c5f7;
}

.drawer__icon-14 {
  color: #235d9f;
}

.drawer__icon-15 {
  color: #931682;
}

.drawer__icon-16 {
  color: #6dd3ce;
}

.drawer__icon-17 {
  color: #ff6d70;
}

.drawer__icon-18 {
  color: #087e8b;
}

.drawer__icon-19 {
  color: #fca000;
}

.drawer__icon-20 {
  color: #0770cd;
}

.drawer__icon-21 {
  color: #0770cd;
}

.drawer__icon-22 {
  color: #0770cd;
}

